<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Register
            </div>
            <div class="card-body">
                <form [formGroup]="registrationForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="title">User Name</label>
                            <input type="text" class="form-control" id="userName" placeholder="User Name"
                                formControlName="userName" [ngClass]="{'is-invalid': submitted && frm.userName.errors}">
                            <div *ngIf="submitted && frm.userName.errors" class="invalid-feedback">
                                <div *ngIf="frm.userName.errors.required">User Name required.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="title">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                formControlName="password" [ngClass]="{'is-invalid': submitted && frm.password.errors}">
                            <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
                                <div *ngIf="frm.password.errors.required">Password required.</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="onRegister()">Register</button>
                    <button class="btn btn-info" (click)="onLogin()">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>